**Mid 1**

** Problem 1 **

In [29]:
print("Input:\n")
dept_no=int(input("Enter the number of departments: "))
list_dep=range(0,dept_no)
for dep in list_dep:
  print(f"Enter details of Department {dep+1}: ")
  dept_name=input("Department Name: ")
  employ=int(input("Enter the number of employees: "))
  list_emp=range(0,employ)
  for emp in list_emp:
    print(f"Enter details for employee {emp+1}: ")
    employ_num=int(input("Employee Number: "))
    employ_name=input("Employee Name: ")
    sal=float(input("Basic Salary:"))
    net_sal=sal+0.52*sal-0.3*(0.52*sal+sal)
    print(f"\nOutput: \nEmployee Information: \nDepartment: {dept_name} \nEmployee Number: {employ_num} \nEmployee Name: {employ_name} \nBasic Salary: {sal} \nNet Salary: {net_sal}")

Input:

Enter the number of departments: 2
Enter details of Department 1:
Department Name: Sales
Enter the number of employees: 2
Enter details for employee 1:
Employee Number: 001
Employee Name: Asif
Basic Salary:5000

Output:
Employee Information:
Department: Sales
Employee Number: 1
Employee Name: Asif
Basic Salary: 5000.0
Net Salary: 5320.0
Enter details for employee 2:
Employee Number: 002
Employee Name: Pieas
Basic Salary:4000

Output:
Employee Information:
Department: Sales
Employee Number: 2
Employee Name: Pieas
Basic Salary: 4000.0
Net Salary: 4256.0
Enter details of Department 2:
Department Name: Marketing
Enter the number of employees: 2
Enter details for employee 1:
Employee Number: 003
Employee Name: Hasib
Basic Salary:7000

Output:
Employee Information:
Department: Marketing
Employee Number: 3
Employee Name: Hasib
Basic Salary: 7000.0
Net Salary: 7448.0
Enter details for employee 2:
Employee Number: 004
Employee Name: Pieas
Basic Salary:6000

Output:
Employee Information:
Department: Marketing
Employee Number: 4
Employee Name: Pieas
Basic Salary: 6000.0
Net Salary: 6384.0

** Problem 2 **

In [32]:
ini_bal=float(input("Enter Initial Balance: "))
no_dep=int(input("Enter the number of deposits: "))
no_with=int(input("Enter the number of withdrawals: "))
new_bal=ini_bal
for txn in range(0,no_dep):
  dep_amt=float(input(f"Enter the deposit amount for Deposit {txn+1}: "))
  new_bal=new_bal+dep_amt
for txn in range(0,no_with):
  with_amt=float(input(f"Enter the withdrawal amount for Withdrawal {txn+1}: "))
  if new_bal>=with_amt:
    new_bal=new_bal-with_amt
  else:
    print(f"You cannot withdraw {with_amt} as your balance is only {new_bal}. Please try again.")
print(f"Output:\nFinal Balance: {new_bal}")

Enter Initial Balance: 500
Enter the number of deposits: 2
Enter the number of withdrawals: 1
Enter the deposit amount for Deposit 1: 100
Enter the deposit amount for Deposit 2: 200
Enter the withdrawal amount for Withdrawal 1: 5000
You cannot withdraw 5000.0 as your balance is only 800.0. Please try again.
Output:
Final Balance: 800.0