# List

In [ ]:
student = []
for i in range(5):
  student.append(i)

print(student)

[0, 1, 2, 3, 4]

In [ ]:
for element in student:
  print(element)

0
1
2
3
4

In [ ]:
# for input n number of student marks
student_mark = []
student_num =int(input("Enter number of students:"))
for i in range(student_num):
  mark=input(f"Enter student {i+1} mark:")

  student_mark.append(float(mark))

Enter number of students:3
Enter student 1 mark:95.5
Enter student 2 mark:55.5
Enter student 3 mark:85.5

In [ ]:
# show n number of student marks
print(student_mark)
for mark in student_mark:
  print(mark)

[95.5, 55.5, 85.5]
95.5
55.5
85.5

In [ ]:
# find the average of n number of student marks
sum = 0
for mark in student_mark:
  sum = sum + mark

average = sum /student_num

print(f"Average of {student_num} of students is {round(average,2)}")

Average of 3 of students is 78.83

In [ ]:
# Enter n number of
# student id, name and mark for course1
student_id = []
student_name = []
student_mark = []
student_num = int(input("Enter number of student:"))
for num in range(student_num):
  std_id = input(f"Enter Student {num+1} id:")
  std_name = input(f"Enter Student {num+1} name:")
  std_mark = float(input(f"Enter Student {num+1} mark:"))
  student_id.append(std_id)
  student_name.append(std_name)
  student_mark.append(std_mark)

Enter number of student:4
Enter Student 1 id:123
Enter Student 1 name:name1
Enter Student 1 mark:55.5
Enter Student 2 id:345
Enter Student 2 name:name2
Enter Student 2 mark:95.5
Enter Student 3 id:789
Enter Student 3 name:name3
Enter Student 3 mark:65.5
Enter Student 4 id:963
Enter Student 4 name:name4
Enter Student 4 mark:75.5

In [ ]:
student_id[:2]

['123', '345']

In [ ]:
for num in range(student_num):
  print(f"Student {num+1} id:{student_id[num]}")
  print(f"Student {num+1} name:{student_name[num]}")
  print(f"Student {num+1} marks:{student_mark[num]}")

Student 1 id:123
Student 1 name:name1
Student 1 marks:55.5
Student 2 id:345
Student 2 name:name2
Student 2 marks:95.5
Student 3 id:789
Student 3 name:name3
Student 3 marks:65.5
Student 4 id:963
Student 4 name:name4
Student 4 marks:75.5

In [ ]:
# for n number of students
num_students = int(input("Enter number of students:"))
avg_student_marks = []
for i in range(num_students):
  # input for n number of courses
  num_courses = int(input("Enter number of courses:"))
  course_mark = []
  for i in range(num_courses):
    mark = float(input(f"Enter {i+1} mark:"))
    course_mark.append(mark)
  # calcuale average mark
  total_mark = 0
  for i in range(num_courses):
    total_mark = total_mark + course_mark[i]

  avg = total_mark/num_courses
  avg_student_marks.append(avg)

Enter number of students:2
Enter number of courses:2
Enter 1 mark:95.5
Enter 2 mark:85.5
Enter number of courses:2
Enter 1 mark:75.5
Enter 2 mark:75.5
Student mark for 2 is [75.5, 75.5]
Average mark is 75.5

In [ ]:
# show student result
print(f"Student mark for {num_courses} is {course_mark}")
print(f"Average mark is {avg_student_marks}")

Student mark for 2 is [75.5, 75.5]
Average mark is [90.5, 75.5]

In [ ]:
if avg <=100 and avg >90:
  gpa = 4.0
elif avg <=90 and avg > 80:
  gpa = 3.75
elif avg <= 80 and avg > 70:
  gpa = 3.50
elif avg <= 70 and avg > 60:
  gpa = 3.25
else:
  gpa = 3.00

print(f"Student gpa is {gpa}")

Student gpa is 4.0

In [ ]:
print(course_mark)

[95.5, 95.5, 85.5, 85.5]

In [ ]:
check_mark = course_mark.copy()
for i in range(num_courses):
  if check_mark[i] > 90:
    print("Student achieve more than 90%")
  else:
    check_mark[i] = "Fail"
    print("Not achieve")
print(check_mark)

Student achieve more than 90%
Student achieve more than 90%
Not achieve
Not achieve
[95.5, 95.5, 'Fail', 'Fail']